<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2>Detail Contact</h2>
            <% if (!contact) { %>
                <div class="alert alert-danger" role="alert">
                    Contact detail not found <a href="/contact" class="alert-link">Return</a>
                </div>
            <% } else { %>
                <div class="card" style="width: 25rem;">
                    <div class="card-body">
                      <h5 class="card-title"><%= contact.nama %></h5>
                      <h6 class="card-subtitle mb-2 text-muted"> <%= contact.noHP %></h6>
                      <p class="card-text"> <%= contact.email %></p>
                      <div>
                        <a href="/contact/edit/<%= contact.nama %>" class="card-link badge rounded-pill bg-primary">Update</a>
                        <a href="/contact/delete/<%= contact.nama %>" class="card-link badge rounded-pill bg-danger" onclick="return confirm('Are you sure?')">Delete</a>
                      </div>
                      <a href="/contact" class="card-link mt-2 d-block">Return to contact list</a>
                    </div>
                  </div>
            <% } %>
        </div>
    </div>
</div>